/* shared style */
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0%;
}
.btn-primary {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
}
.section-title {
  text-align: center;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.section-sub-title {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin: 32px auto;
  text-align: center;
}

/* Banner section */
header {
  background: rgba(229, 84, 115, 0.1);
}
.banner {
  display: flex;
  align-items: center;
  margin: 0 150px;
  padding-top: 30px;
  gap: 50px;
}
.header-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}

/* Feature flower section */
.feature-section{
  margin-top: 140px;
  margin:0px 200px ;
  margin-bottom: 120px;
}
.feature-flowers {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.feature-flower {
  text-align: center;
  height: 400px;
}

.feature-flower img {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  height: 80%;
  width: 80%;
  padding: 20px 20px 0px 20px;
}
.flower-details {
  margin: 128px 0px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  gap: 86px;
}
.flower-detail {
  padding: 86px;
}
